.le-mill-section_ {
    width: 100%;
}

.le-mill-section-container_ {
    width: 100%;
}

.le-mill-section-top-main-swiper_ {
    width: 90%;
    margin: auto;
}

.le-mill-section-top-main-swiper-banner_ {
    width: 100%;
}

.le-mill-section-top-main-swiper-img_ {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


// About section -----------------
.about-brand-section_ {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-brand-container_ {
    width: 100%;
}

.about-brand-heading_ {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #33312e;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 10px;
}
.about-brand-content_{
    width: 80%;
    margin: auto;
}
.about-brand-img_{
    width: 100%;
}
.about-brand-banner_{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.about-brand-text-box_{
    width: 78%;
    padding: 40px 10px;
    background-color: #f4f5f4;
    margin: auto;
    border-radius: 6px;
}
.lemill-about-text_{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: #33312e;
}