.luxury-product_ {
    cursor: pointer;
    margin-top: 50px;
    flex: 1 1 33.333333%;
    margin: 0 0 50px;
    max-width: 30.333333%;
    padding: 0 20px;
    position: relative;
   
}
.favorite-action_{
    position: absolute;
    right:10px;
    top: 10px;
    cursor: pointer;
    .favorite-icon_{
        font-size: 17px;
        color: rgba(61,61,61,1) !important;
    }
}
.offer-marker_{
    position: absolute;
    left: 0px;
    top: 10px;
    background: #e0b659;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    padding: 2px 8px 2px;
    text-align: center;
    cursor: pointer;
}
.luxury-product-body_ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.luxury-product-image_ {
    width: 100%;
    
}       

.luxury-product-img_ {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.luxury-product-details_ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 6px;
}

.luxury-product-name_ {
    color: #17181c;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 3px;
    text-transform: uppercase;
}

.luxury-product-info_ {
    color: #605f5d;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 5px;
}

.product-pricing_ {
    display: flex;
    align-items: center;
    .salling-price_ {
        color: #494745;
        line-height: 14px;
    }

    .orignal-price_ {
        color: #b3b3b3;
        font-size: 13px;
        font-weight: 300;
        line-height: 12px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        text-decoration: line-through;
    }

    .percent-off {
        color: #448808;
        font-size: 13px;
        line-height: 12px;
        margin-right: 5px;
    }
}